
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;

}
.container {
  background-image: radial-gradient(white, orange);
  /* height: 100vh; */
}
.logo {
  position: relative;
  right: 200px;
  top: 0px;
  padding: 12px;
}
.column {
  display: flex;
}
.rows-2 {
  flex-basis: 50%;
}
.rows-4 {
  flex-basis: 25%;
}

.navlink {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.navlink li {
  position: relative;
  bottom: 5px;
  display: inline-block;
  margin-left: 40px;
}
.navlink li a {
  color: grey;
  text-decoration: none;
  letter-spacing: 2px;
}
.navlink li a:hover {
  color: black;
  text-decoration: underline;
}
.head-text {
  text-align: start;
  margin-left: 90px;
  position: relative;
  align-self: center;
  max-width: 3500px;
}
.products-link {
  border-radius: 10px;
  background-color: red;
  height: 29px;
  width: 150px;
  border: none;
}
.contact {
  margin: 50px;
}
.contact form input {
  border-radius: 13px;
  padding: 7px;
  width: 60%;
  height: 25px;
  margin-bottom: 5px;
  border: none;
  background-color: #eeeee4;
}
#text {
  background-image: url("./pics/images/user\ \(1\).png");
  background-repeat: no-repeat;
  background-position: 5px;
  background-size: 18px 18px;
  text-indent: 32px;
}
#comments {
  background-image: url("./pics/images/comment.png");
  background-size: 18px 18px;
  text-indent: 32px;
  background-repeat: no-repeat;
  background-position: 5px 9px;
  font-size: 14px;
  border-radius: 13px;
  padding: 7px;
  width: 60%;
  height: 115px;
  margin-bottom: 5px;
  border: none;
  background-color: #eeeee4;
}
#email {
  background-image: url("./pics/images/email.png");
  background-repeat: no-repeat;
  background-position: 5px;
  background-size: 18px 18px;
  text-indent: 32px;
}
#submit {
  color: white;
  background-color: red;
}
.product {
  text-align: center;
  text-shadow: 1px 1px grey;
}
#line {
  position: relative;
  width: 120px;
  height: 2px;
  background-color: grey;
  float: inline-end;
}
.rows-3 {
  flex-basis: 33.33%;
  margin: 50px;
}
.features{
  margin: 12px;
}
.card {
  margin-left: 15%;
  width: 220px;
  height: 270px;
  background-image: radial-gradient(white, #eaeaea);
  border-radius: 10px;
}
.card:hover {
  overflow: hidden;
}
.card-image img {
  padding: 10px;
  margin-left: 12.5%;
  width: 160px;
  height: 270px;
  transition: transform ease 1000ms;
  overflow: hidden;
}
.card{
  overflow: hidden;
}
.card-details {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card-details div .price{
  position: relative;
  left: -20px;
}
.card-details div {
  line-height: 22px;
  position: relative;
  left:  0px;
}
.inter-image {
  color: black;
  background-color: white;
  padding: 6px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  bottom: 60px;
  left: 50px;
  width: 120px;
  display: none;
  font-weight: 500;
}
.card-image img:hover {
  filter: drop-shadow(2px 4px 6px black);
  overflow: hidden;
  transform: scale(1.1);
}
.card-image img:hover + .inter-image {
  display: block;
}
.rows-3{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
footer {
  width: 100%;
  padding: 20px;
  background-color: black;
}
.column .rows-3 p {

  color: white;
  size: 22px;
}
footer {
  margin-top: 30px;
}
.footer-link {
  margin: 0px;
  color: white;
  font-size: 12px;
  list-style-type: none;
  text-indent: 0px;
  font-weight: 200;
}
.footer-text {
  color: white;
  font-size: 12px;
  font-weight: 200;
}
.logo-links li {
  display: inline-block;
  margin-left: 7px;
}
.logo-links li img {
  background-color: white;
}
.logo-links li img:hover {
  background-color: rgb(209, 209, 209);
}
.subs {
  margin-top: 12px;
  width: 120px;
  background-color: white;
  color: black;
  height: 32px;
  border-radius: 20px;
}
#form-email {
  background-color: transparent;
  border: none;
  width: 200px;
  border-bottom: 1px solid white;
}
.play {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: 400;
}
/* ---------------about--------------- */
.about{
  font-size: 40px;
  text-align: center;
  color: black;
  padding: 8px;
  position: relative;
  bottom: 25px;
}
.story-head{
  padding-left: 23px;
}
.story-content-group{
  padding: 0 23px;
}
.story-content{
  color: grey;
  line-height: 22px;
  font-weight: 100;
}
.story-mode{
  border: 2px solid rgb(172, 172, 172);
  width: 350px;
  margin: 30px 100px;
}
.story-mode:hover
{
  overflow: hidden;
}
.story-mode img{
  object-fit: cover;
  width: 350px;
  height: 400px;
  position: relative;
  bottom: 20px;
  left: 20px;
  
  transition: transform ease 2000ms;
}
.story-mode img:hover{
  transform: scale(1.1);
}
.product-links{
  margin: 50px 20px;
}
.product-links a{
  display: inline-block;
  text-decoration: none; 
  letter-spacing: 2px;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  color: rgb(158, 158, 158);
  transition:  2000ms;
}

.product-links a::after {
  content:'';
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 1500ms; 
}

.product-links a:hover::after {
  width: 100%;
}
.product-links a:hover{
  color: black;
}
.product-left{
  margin-left: 300px;
}
.product-icons button{
  margin: 63px 7px;
  width:140px;
  height: auto;
  background: transparent;
  border: 1px solid black;
}
.product-icons button div{
  display: inline-block;
  letter-spacing: 2px;
}
.product-icons button img{
  margin-left: 1px;
}
.product-icons button:hover{
  background-color: orange;
}
.card-details{
  margin: 23px 0px;
}

.footer-link a{
  text-decoration: none;
  color: white;
  display: block;
  margin: 12px 35px;
}
.card-details span img:hover{
  cursor:pointer;
}
.index-container{
  height: 100vh;
}
.head-text p{
  line-height: 19px;
  font-size: 16px;
}
.container-head{
  height:90vh;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}